*{
    margin:0;
    padding:0;
  box-sizing: border-box;
    font-family:'Poppins',sans-serif;

}
.form-box {
    position: absolute;
    top:50%;
    left:50%;
    padding:40px;
    align-items: center;
    justify-content: center;
    width: 480px; 
    max-width: 600px; 
    margin-bottom: 15px;
    transform:translate(-50%,-50%);
    background:transparent;
    backdrop-filter: blur(2px);
    border:1px solid rgba(146, 144, 144, 0.899);
    box-sizing:border-box;
    border-radius:2em;
    height:500px;

}
.form-box:hover {
    box-shadow: 10px 8px 16px 0 rgb(211, 211, 211);
  }

.input-feild{
    font-size:15px;
    background:rgb(244, 246, 246);
    height:fit-content;
    width: fit-content;
    padding:8px;
    border-radius:20px;
    transition: .2s ease;
    border:none;
    margin-bottom: 10px;
    box-shadow:1px 1px rgba(0, 0, 0, 0.971) inset;
    padding-right: 30px;
}
.input-feild::placeholder {
    padding-left: 15px; 
    

}
.input-feild:hover, .input-feild:focus{
    background:rgb(192,189 ,190);
}
::-webkit-input-placeholder{
    color:#383737;
}
.submit{
    font-size: 15px;
    font-weight:50px;
    color:black;
    height:35px;
    width:100%;
    border:none;
    border-radius:30px;
    outline:none;
    background:rgba(255, 255, 255, 0.895);
    cursor:pointer;
    transition:.3s ease-in-out;
    margin-bottom: 40px;
    
}
.submit:hover{
    background:rgba(255,255,255,0.5);
    box-shadow:1px 5px 7px 1px rgba(0,0,0,0.2);
}

.input-box {
    position: relative;
    display: flex;
    align-items: center;


}
body {
  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: left;
    padding: 20px;
    background-color: black;
   
}


h2 {
    margin:0;
  
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow:5px 5px 5px rgba(0,0,0,0.4);
    margin-bottom: 20px;
    color: #ffffff;
    align-self: center;
}
.form-group{
    display:flex;
    align-items:center;
    margin-bottom:10px;
}
.form-group label{
    width:120px;
    text-align:right;
    margin-right:20px;
}

.form-group input{
    flex:1;
    padding:5px;
    margin-right:40px;
}

.sub-fields{
    display:flex;
    flex-direction:column;
    gap:1px;
    margin-left:140px;
}

form{
    font-family:Arial,sans-serif;
    font-size:16px;
}
label{
    color:white;
    font-size:16px;
    
}



  .icon {
    position: absolute;
    left:325px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    font-size: 18px;
    size: 40;

}
video{
    position:absolute;
    width:100%;
    height:100%;
    object-fit: cover;
    top:0;
    left:0;
    z-index:-1;
}




  
  
      





